<br>
<br>
<br>
<hr>
<h1><u>Geo Location API</u></h1>
<img src="{{country_flag}}" alt="Paris" style="width:25%;">

<div>
  
  <p style="font-size:20px;">Continent Name: {{continent}}</p>
  <p style="font-size:20px;">Country Name: {{country}}</p>
  <p style="font-size:20px;">Country Capital: {{country_capital}}</p>
  <p style="font-size:20px;">Country Phone: {{country_phone}}</p>
  <p style="font-size:20px;">Country Neighbours: {{country_neighbours}}</p>
  <p style="font-size:20px;">Region: {{region}}</p>
  <p style="font-size:20px;">City: {{city}}</p>
  <p style="font-size:20px;">ISP: {{isp}} </p>
  <p style="font-size:20px;">Timezone: {{timezone}} {{timezone_name}}</p>
  <p style="font-size:20px;">Currency: {{currency}} {{currency_symbol}}</p>
</div>

<hr>
